<footer>
    <div class="footer-header">
        <div class="footer-menu">
                <h2>Book Store</h2>
            <div class="redes-sociais">
                <i class="fa-brands fa-instagram fa-2xl"></i>
                <i class="fa-brands fa-square-facebook fa-2xl"></i>
                <i class="fa-brands fa-discord fa-2xl"></i>
            </div>
        </div>
    </div>
    <div class="informacao">
        <div class="footer-informacao">
            <div class="servicos-ao-cliente">
                <h3>Servicos ao cliente</h3>
                <p>Mapa do site</p>
                <p>Eventos</p>
                <p>Revista</p>
            </div>
            <div class="fale-conosco">
                <h3>Fale conosco</h3>
                <p>Perguntas Frequentes</p>
                <p>Trabalhe Conosco</p> 
            </div>
        </div>
    </div>


    <!-- <div class="informacao">
        <h2>Book Store</h2>
        <p>Book Store e o melhor site de vendas de livros, aqui você pode encontrar diversos livros e categorias otimas </p>
        <div class="redes-sociais">
            <h3>Redes sociais</h3>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-discord"></i>
        </div>
    </div>
    <div class="servicos-ao-cliente">
        <h3>Servicos ao cliente</h3>
        <p>Mapa do site</p>
        <p>Eventos</p>
        <p>Trabalhe conosco</p>
        <p>Revista</p>
    </div>
    <div class="fale-conosco">
        <h3>Fale conosco</h3>
        <p>Perguntas Frequentes</p>
        <p>Trabalhe Conosco</p> -->
    
    

</footer>