<header>
    <div class="menu">
        <h1>Book Store</h1> 
        <input type="text" name="Pesquisar" value="" placeholder="Pesquisar">

        <div id="perfil">
            <i class="fa-solid fa-user fa-lg"></i>
            <p>Perfil</p>
        </div>
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
        <i class="fa-solid fa-heart fa-lg"></i>
    </div>
</header>
<div class="dropdown-menu">
    <nav>
        <ul class="dropdown">

            <li><a href="#">Compre por categoria</a>
                <ul>
                    <li><a href="#">e-book</a></li>
                    <li><a href="#">Autores mais procurados</a></li>
                    <li><a href="#">Genêros</a></li>
                    <li><a href="#">Infantil</a></li>
                    <li><a href="#">Clássicos</a></li>
                </ul>
            </li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Lançamentos</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Contato</a></li>
    </nav>
</div>