<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <script src="https://kit.fontawesome.com/a64a0e5a1a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/geral.css">
</head>