<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrinho.css">
    <title>Carrinho</title>
</head>
<%- include("partials/head.ejs"); %>

    <body>
        <!-- <link rel="stylesheet" href="/css/login.css"> -->

        <%- include("partials/header.ejs"); %>
            <main>
                
                    <div class="titulo">
                        <h2>Meu Carrinho</h2>
                    </div>
                    <div class="envolver">

                    <div class="container">


                        <div class="produtoCarrinho">
                            <img class="amostra" src="/img/produtos/31.jpg" alt="">
                            <div>
                                <h2>Torto Arado</h2>
                                <label for="quantidade">Quantidade:</label>
                                <input type="number" value="1">
                            </div>
                            <span>R$22,90</span>

                        </div>


                        <div class="produtoCarrinho">
                            <img class="amostra" src="/img/produtos/34.jpg" alt="">
                            <div>
                                <h2>O Iluminado</h2>
                                <label for="quantidade">Quantidade:</label>
                                <input type="number" value="1">
                            </div>
                            <span>R$22,90</span>
                        </div>
                    </div>
                    <div class="comprar">
                        <h4>Total = R$100,00</h4>
                    </div>
                    <div class="login-button">
                        <button>Comprar</button>
                    </div>
                </div>

                </div>

            </main>
            <%- include('partials/footer.ejs') %>
    </body>

</html>