<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs"); %>

    <body>
        <link rel="stylesheet" href="/css/finalizacaoCompra.css">
     
        <%- include("partials/header.ejs"); %>

            <div class="dados-pessoais">
                <div class="input-box">
                    <h3>Dados pessoais</h3>
                    <label for="name">Nome completo</label>
                    <input id="name" type="text" name="name" required>
                </div>
            
                <div class="input-box">
                    <label for="number">Celular</label>
                    <input id="number" type="tel" name="number" required>
                </div>
            </div>

            <div class="endereco-de-entrega">
                    <div class="input-box">
                        <h3>Endereço de entrega</h3>
                        <label for="number">CEP</label>
                        <input type="text" id="cep" size="15" maxlength="9" autocomplete="off">
                        <button type="button" onclick="consultaCep()">Consultar</button>
                    </div>
                
                    <div class="input-box">
                        <label for="adress">Estado</label>
                        <input type="adress" type="text" name="adress" required>
                    </div>

                    <div class="input-box">
                        <label for="adress">Cidade</label>
                        <input type="adress" type="text" name="adress" required>
                    </div>


                    <div class="input-box">
                        <label for="adress">Bairro</label>
                        <input type="adress" type="text" name="adress" required>
                    </div>

                    <div class="input-box">
                        <label for="adress">Logadouro</label>
                        <input type="adress" type="text" name="adress" required>
                    </div>

                    <div class="input-box">
                        <label for="adress">Número</label>
                        <input type="adress" type="number" name="adress" required>
                    </div>

                    <div class="input-box">
                        <label for="adress">Complemento</label>
                        <input type="adress" type="text" name="adress" required>
                    </div>

            </div>
        <%- include('partials/footer.ejs') %>
    </body>

</html>