<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/finalizacaoCompra.css">
    <title>Finalização de Compra</title>
</head>
<body>
   
    
    </div>

    <div class="input-group">
        <div class="input-box">
            <h3>Dados pessoais</h3>
            <label for="name">Nome completo</label>
            <input id="name" type="text" name="name" required>
        </div>

        <div class="input-box">
            <label for="number">Celular</label>
            <input id="number" type="tel" name="number" required>
        </div>
    <div class="input-group">
        <div class="input-box">
            <h3>Endereço de entrega</h3>
            <label for="number">CEP</label>
            <input type="text" id="cep" size="15" maxlength="8" autocomplete="off">
            <button type="button" onclick="consultaCep()">Consultar</button>
        </div>
       
        </div class="input-box">
        <label for="adress">Estado</label>
        <input type="adress" type="text" name="adress" required>
    </div>


</body>
</html>