<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <header>
        <h2>Book Store</h2>
        <input type="text" name="busque aqui" value=""placeholder="Pesquisar">
        <img src="../public/img/carrinho.png" alt=""> 
        <img src="../public/img/perfil.png" alt="">
        <img src="../public/img/coracaoBranco.png" alt="">
        <p>Perfil</p>
    </header>
    <nav>
        Compre por categoria
    </nav>
    <section class="slider">
        <input name='slide' type="radio" >
        <input name='slide' type="radio" checked>
        <input name='slide' type="radio">
        <input name='slide' type="radio">
    
        <div class="slider-content">
            <div class="slider-item"><img src="../public/img/carrosel.jpeg" alt=""></div>
            <div class="slider-item"><img src="../public/img/carrosel.jpeg" alt=""></div>
            <div class="slider-item"><img src="../public/img/carrosel.jpeg" alt=""></div>
            <div class="slider-item"><img src="../public/img/carrosel.jpeg" alt=""></div>
        </div>
    </section>
    <div class="Sub titulo">Aventura</div>
</body>
</html> 
