 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <header>
        <div>
            <h1>Book Store</h1>
            <input type="text" name="Pesquisar" value=""placeholder="Pesquisar">
            <div id="perfil">
                <img src="../public/img/perfil.png" alt="icon perfil usuario">
                <p>Perfil</p>
            </div>
            <img src="../public/img/carrinho.png" alt="icon carrinho"> 
            <img src="../public/img/coracaoBranco.png" alt="icon favoritos">  
        </div>
    </header>
    <nav>
        <ul class="dropdown-menu">
            <li>
                <p>Compre por categoria</p>
            </li>
    </nav>
    <section class="slider">
        <input name='slide' type="radio" >
        <input name='slide' type="radio" checked>
        <input name='slide' type="radio">
        <input name='slide' type="radio">
    
        <div class="slider-content">
            <div class="slider-item">
                <img src="../public/img/carrosel.jpeg" alt="Imagem 1 carrosel">
            </div>
            <div class="slider-item">
                <img src="../public/img/imagemSlide2.jpeg" alt="Imagem 2 carrossel"></div>
            <div class="slider-item">
                <img src="../public/img/slide3.jpeg" alt="Imagem 3 carrossel">
            </div>
            <div class="slider-item">
                <img src="../public/img/divinaComedia.jpeg" alt="Imagem 4 carrossel">
            </div>
        </div>

        <div class="card">
            <img src="../public/img/vitrine1.jpg"   width="190" height="200" loading="lazy"  alt="">
            <h2>Lady Killers</h2> 
            <p>Assasinas em serie</p>
            <p class="price"> R$ 300,00</p>
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="hidden-xs hidden-sm hidden-md">Comprar</span>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
            <img src="../public/img/coraçaoPreto.png" width="20" alt="">
                </button>
            </div>

        <div class="card">
            <img src="../public/img/vitrine2.jpg" width="195" height="200" loading="lazy" alt="">
            <h2>Lady Killers</h2>
            <p>Assasinas em serie</p>
            <p class="price">R$ 300,00</p>
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="hidden-xs hidden-sm hidden-md">Comprar</span>
                </button>
        </div>
            <div class="button-group">
                <button type="button">
            <img src="../public/img/coraçaoPreto.png" width="20" alt="">
                </button>
        </div>

        <div class="card">
            <img src="../public/img/vitrine3.jpg" width="195" height="200" loading="lazy" alt="">
            <h2>Lady Killers</h2>
            <p>Assasinas em serie</p>
            <p class="price">R$300,00</p>
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="hidden-xs hidden-sm hidden-md">Comprar</span>
                </button>
        </div>
            <div class="button-group">
                <button type="button">
            <img src="../public/img/coraçaoPreto.png" width="20" alt="">
                </button>
        </div>
        
        <div class="card">
            <img src="../public/img/vitrine4.jpeg" width="195" height="200" loading="lazy" alt="">
            <h2>Lady Killers</h2>
            <p>Assasinas em serie</p>
            <p class="price">R$300,00</p>
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="hidden-xs hidden-sm hidden-md">Comprar</span>
                </button>
        </div>
            <div class="button-group">
                <button type="button">
                    <img src="../public/img/coraçaoPreto.png" width="20" alt="">
                </button>
            </div>
        </div>


</body>
</html> 