<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/a64a0e5a1a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="menu">
            <h1>Book Store</h1>
            <input type="text" name="Pesquisar" value="" placeholder="Pesquisar">

            <div id="perfil">
                <i class="fa-solid fa-user fa-lg"></i>
                <p>Perfil</p>
            </div>
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
            <i class="fa-solid fa-heart fa-lg"></i>
        </div>
        <div class="dropdown-menu">
    </header>
    <div class="dropdown-menu">
            <nav>
                <ul class="dropdown">

                    <li><a href="#">Compre por categoria</a>
                        <ul>
                            <li><a href="#">e-book</a></li>
                            <li><a href="#">Autores mais procurados</a></li>
                            <li><a href="#">Genêros</a></li>
                            <li><a href="#">Infantil</a></li>
                            <li><a href="#">Clássicos</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Promoções</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Contato</a></li>
            </nav>

    </div>
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <div class="slide first">
                <img src="/img/carrosel.jpeg" width="900" alt="Imagem 1" />
            </div>
            <div class="slide">
                <img src="/img/imagemSlide2.jpeg" alt="Imagem 2" />
            </div>
            <div class="slide">
                <img src="/img/slide3.jpeg" alt="Imagem 3" />
            </div>
            <div class="slide">
                <img src="/img/divinaComedia.jpeg" alt="Imagem 4" />
            </div>
        </div>
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
        </div>
        <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
        <script src="/js/script.js"></script>
    </div>
    <aside>
        <div class="card">
            <img src="/img/vitrine1.jpg" height="200" loading="lazy" alt="">
            <h2>Lady Killers</h2>
            <p class="price"> R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine2.jpg" height="200" loading="lazy" alt="">
            <h2>Lady Killers</h2>
            <p class="price">R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
        </div>
        </div>
        <div class="card">
            <img src="/img/vitrine3.jpg" height="200" loading="lazy" alt="">
            <h2>Lady Killers</h2>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine4.jpeg" height="200" loading="lazy" alt="">
            <h2>Lady Killers</h2>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>    
    </aside>
    <h2>DESTAQUE DO MÊS</h2>
    <aside>
        <div class="card">
            <img src="/img/vitrine5.jpg" height="200" loading="lazy" alt="">
            <h1>O Mundo de Sofia</h1>
            <p class="price"> R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine6.jpg" height="200" loading="lazy" alt="">
            <h1>O Mundo de Sofia</h1>
            <p class="price">R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine7.jpg" height="200" loading="lazy" alt="">
            <h1>O Mundo de Sofia</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine8.jpg" height="200" loading="lazy" alt="">
            <h1>O Mundo de Sofia</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div> 
    </aside>
    <aside>
        <div class="card">
            <img src="/img/vitrine9.jpg" height="200" loading="lazy" alt="">
            <h1>O Mundo de Sofia</h1>
            <p class="price"> R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine10.jpg" height="200" loading="lazy" alt="">
            <h1>O Mundo de Sofia</h1>
            <p class="price">R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine11.jpg" height="200" loading="lazy" alt="">
            <h1>O Mundo de Sofia</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine12.jpg" height="200" loading="lazy" alt="">
            <h1>O Mundo de Sofia</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>       
    </aside>
    <h2>LANÇAMENTOS</h2>
    <aside>
        <div class="card">
            <img src="/img/vitrine13.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price"> R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine14.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine15.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine16.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>  
    </aside>
    <aside>
        <div class="card">
            <img src="/img/vitrine13.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price"> R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine14.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine15.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine16.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div> 
    </aside>
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <div class="slide first">
                <img src="/img/carrosel.jpeg" width="900" alt="Imagem 1" />
            </div>
            <div class="slide">
                <img src="/img/imagemSlide2.jpeg" alt="Imagem 2" />
            </div>
            <div class="slide">
                <img src="/img/slide3.jpeg" alt="Imagem 3" />
            </div>
            <div class="slide">
                <img src="/img/divinaComedia.jpeg" alt="Imagem 4" />
            </div>
        </div>
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
        </div>
        <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
        <script src="/js/script.js"></script>
    </div>
    <h2>SUPER DESCONTOS</h2>
    <aside>
        <div class="card">
            <img src="/img/vitrine13.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price"> R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine14.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine15.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine16.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div> 
    </aside>
    <aside>
        <div class="card">
            <img src="/img/vitrine13.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price"> R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine14.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$ 300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine15.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/vitrine16.jpg" height="180" loading="lazy" alt="">
            <h1>Gravity Falls</h1>
            <p class="price">R$300,00</p>
            <div class="buton">
            <div class="button-group">
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <div class="button-group">
                <button type="button">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
            </div>
        </div> 
    </aside>
    <footer>
            <div class="footer-header">
                <h2>Book Store</h2>
                <div class="redes-sociais">
                    <i class="fa-brands fa-instagram fa-2xl"></i>
                    <i class="fa-brands fa-square-facebook fa-2xl"></i>
                    <i class="fa-brands fa-discord fa-2xl"></i>
                </div>
            </div>
            <div class="informacao">
                <div class="servicos-ao-cliente">
                    <h3>Servicos ao cliente</h3>
                    <p>Mapa do site</p>
                    <p>Eventos</p>
                    <p>Revista</p>
                </div>
                <div class="fale-conosco">
                    <h3>Fale conosco</h3>
                    <p>Perguntas Frequentes</p>
                    <p>Trabalhe Conosco</p> 
            </div>
            </div>


            <!-- <div class="informacao">
                <h2>Book Store</h2>
                <p>Book Store e o melhor site de vendas de livros, aqui você pode encontrar diversos livros e categorias otimas </p>
                <div class="redes-sociais">
                    <h3>Redes sociais</h3>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-discord"></i>
                </div>
            </div>
            <div class="servicos-ao-cliente">
                <h3>Servicos ao cliente</h3>
                <p>Mapa do site</p>
                <p>Eventos</p>
                <p>Trabalhe conosco</p>
                <p>Revista</p>
            </div>
            <div class="fale-conosco">
                <h3>Fale conosco</h3>
                <p>Perguntas Frequentes</p>
                <p>Trabalhe Conosco</p> -->
            
            
        
    </footer>
</body>
</html>