<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <header>
        <h2>Book Store</h2>
        <input type="text" name="Pesquisar" value=""placeholder="Pesquisar">
        <img src="../public/img/carrinho.png" alt="icon carrinho"> 
        <img src="../public/img/perfil.png" alt="icon perfil usuario">
        <img src="../public/img/coracaoBranco.png" alt="icon favoritos">
        <p>Perfil</p>
    </header>
    <nav>
        <ul class="dropdown-menu">
            <li>
                <p>Compre por categoria</p>
            </li>
    </nav>
    <section class="slider">
        <input name='slide' type="radio" >
        <input name='slide' type="radio" checked>
        <input name='slide' type="radio">
        <input name='slide' type="radio">
    
        <div class="slider-content">
            <div class="slider-item">
                <img src="../public/img/carrosel.jpeg" alt="Imagem 1 carrosel">
            </div>
            <div class="slider-item">
                <img src="../public/img/imagemSlide2.jpeg" alt="Imagem 2 carrossel"></div>
            <div class="slider-item">
                <img src="../public/img/slide3.jpeg" alt="Imagem 3 carrossel">
            </div>
            <div class="slider-item">
                <img src="../public/img/divinaComedia.jpeg" alt="Imagem 4 carrossel">
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="product-thumb transition">
            <div class="image">
            <img src="../public/img/vitrine.jpg" width="195" height="200" loading="lazy" alt="Lady Killers (Assasinas em série)" title="Lady Killers (Assasinas e série)" class="img-responsive"></a></div>
            <div class="caption">
            <p>Lady Killers</p>
            <p class="price ">R$199,90</p>
    </section>
    <div class="Sub titulo">Destaque do mês</div>
</body>
</html> 
