<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs"); %>

<body>
    <link rel="stylesheet" href="/css/login.css">
    
    <%- include("partials/header.ejs"); %>
    
    <main>
        <div class="container">
        <div class="img"></div>
            
            <div class="form-header">
                <form action="#">
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                
                        <div class="input-box">
                            <label for="email">E-mail</label>
                            <input id="email" type="email" name="email" placeholder="Digite seu email" required>
                        </div>
    
                        <div class="input-box">
                            <label for="password">Senha</label>
                            <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                        </div>
    
                        <div class="login-button">
                            <button><a href="#">Entrar</a></button>
                        </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html> 