<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Login</title>
    
</head>
<body>
    <header>
        <div class="logo">
            <h1>Book Store</h1>
        </div>
        <div class="dropdown-logo">
        </div>
    </header>
    <section class="area-Login">
        <div class="Login">
            <div>
                <img src="">
            </div>
            <form>
                <input type="text" name="nome" placeholder="usuário" autofocus>
                <input type="password" name="senha" placeholder="senha">
                 <a href="#" class="esqueceuSenha">Esqueci a senha</a>
                <input type="submit" value="Entrar">
            </form>
            <p>Ainda não tem uma conta?<a href="#" class="semConta">Criar conta</a></p>
    </section>
</body>
</html>