<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs"); %>

    <body>
        <link rel="stylesheet" href="/css/produtosInterna.css">
        <%- include("partials/header.ejs"); %>

            <div class="livro">
                <img src="/img/vitrine13.jpg" alt="">
                <div class="livro-informacao">
                    <div class="livro-sobre">
                        <h2>Gravity Falls: O Diario Perdido</h2>
                        <p>Você possui em suas mãos o cobiçado diário do autor da série Gravity Falls, um tesouro de 288
                            páginas coloridas e sem dono, com segredos nunca antes revelados, monstros e mistérios da
                            pacata cidade do Tivô Stan.
                            Com ele, você irá aprender a trágica história de Ford, o paradeiro de Blendin, qual é a
                            Dimensão 52 e como atrair um “ornitorrinco xadrez”.
                            Mas cuidado: este é um livro desejado por muitas forças sombrias, por isso fique alerta se
                            qualquer um quiser tirá-lo de você (especialmente se tiverem olhos amarelos e brilhantes).
                            E, o mais importante, divirta-se. Afinal, não existe um lugar como Gravity Falls. Ou será
                            que existe?
                        </p>
                    </div>
                    <div class="comprar">
                        
                            <h2>Preço</h2>
                            <h2>$100,00</h2>
                        
                       
                    </div>
                    <div class="p">
                        <div class="frete">
                            <h4>Calcular frete:</h4>
                            <input type="number">
                            <button type="button" onclick="consultaCep()">Consultar</button>
                        </div>
                        <div class="button">
                            <button type="button">
                                <i class="fa fa-shopping-cart"></i>
                                Comprar
                            </button>
                            <button >
                            <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <%- include('partials/footer.ejs') %>
    </body>

</html>