
 main{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
 }

h1{
    align-items: center;
 }


 .produtoCarrinho {
    box-shadow: 1px 1px 6px #0000001c;
    border-radius: 10px;
   
    /* margin-top: 30px;
    margin-left: 90px; */
    padding: 10px;
    display: flex;
    /* align-items: center;
    position: relative; */
}

.amostra {
    height: 150px;
    margin-right: 10px;
}

/* .livro{
    display: flex;
} */

.livro{
    margin-top: 20px;
}


/* .quantidade{
    margin-top: 77px;
    display: flex;
    
} */

/* .quantidade > h3{
   
    margin-left: 436px;
} */

/* .comprar{
    padding: 50px;
}
.produtoCarrinho span{
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.titulo h2{
   border-right: #B8DCE3;
} */

/* .login-button button {
    background-color: #009DAC;
    border: none;
    height: 30px;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 20px;
    color: #FFFFFF;
}
.login-button{
    padding-left: 700px; 
}
.login-button button:hover {
    background-color: #B8DCE3;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
} */




 


/* .cardimg{
    border: 1px solid black;
} */







/* .envolver{
    margin-left: 550px;
} */