 .amostra {
     height: 150px;
     /* width: 250px; */
     margin-right: 10px;
 }

 .produtoCarrinho {
    border: 1px solid black;
    width: 700px;
    /* height: 205px; */
    margin-top: 30px;
    margin-left: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.produtoCarrinho span{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
 

 .container {
     width: 900px;
     height: 80vh;
     display: flex;
     box-shadow: 5px 5px 10px #009DAC;
     display: flex;
     flex-direction: column;
 }
 main{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 /* .login-button { */
    /* display: flex; */
    /* align-items: center; */
/* } */

.login-button button {
    border: none;
    background-color:#009DAC;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #B8DCE3;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}




 /*.cardimg{
    border: 1px solid black;
}