* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rhodium Libre';
}

.div-name{
    display: grid;
    grid-template-areas: "A B"
                        "C C"
                        "D D";
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    margin-top: 30px;
    box-shadow: 5px 5px 10px #009dac;
}

.informacao{
    width: 480px;
    grid-area: A;
    background-color: rgb(252, 252, 252);
}

.dados-pessoais{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}

.input-box{
    margin-right: 10px;
    margin: 10px;
}

.input-box > input{
    box-sizing: border-box;
    display: inline-block;
}

.endereco-de-entrega{
    margin-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}

label{
    width: 45px;
}

.informacao-de-compra{
    width: 480px;
    padding: 10px;
    grid-area: B;
    
}

.informacao-de-compra>h3{
    margin: 10px 0px 0px 10px;

}
.book{  
    padding: 0px 10px 10px;
    display: flex;
    flex-direction: row;
}

.informacao-book{
    margin: 10px;
}

.informacao-book > h2{
    margin-left: 34px;
}

.escolha-de-pagamento{
    grid-area: D;
    background-color: #B8DCE3;
}

hr{
    width: 959px;
    grid-area: C;
    border-right: 1px solid #c0c0c0;
    
}

.pagamento> button{
    margin: 0px;
    padding: 0px;
}