* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rhodium Libre';
}

html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    background-color: #009DAC;
    width: 100%;
    color: #FFFFFF;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: 90px;
}

.menu>div{
    display: flex;
}

.menu>h1 {
    color: #FFFFFF;
    font-weight: 100;
    /* margin-right: 30px; */
    /* font-size: 30px */
}

.menu>input {
    width: 500px;
    height: 50px;
    border-radius: 30px;
    border-color: #FFFFFF;
    margin-left: 40px;
    margin-right: 40px;
    border: 0px;
    padding: 20px;
}

.menu img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}


#perfil {
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* width: 40px;
    height: 40px; */
}

#perfil>img {
    width: 30px;
    height: 30px;
}

#perfil>p {
    color: #FFFFFF;
    padding: 6px;
}

.dropdown-menu{
    /* background-color: rgb(67, 220, 231); */
    background: #B8DCE3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
}
.dropdown-menu > nav{
    height: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*.dropdown-menu > div > button{
    height: 30px;
    background-color: #D1EBF0;
    padding: 5px;
    border: 0px; 
}*/


.dropdown {
    list-style: none;
   /* border: 1px solid #d30606;
    float: left; */
    padding-left: 218px;
    margin-left: auto;
    margin-right: auto;
    width: 1047px;
    height: 100%;
    
}

.dropdown li {

    justify-content: space-between;    
    position: relative;
    float: left;
    /*border-right: 1px solid #c0c0c0; */
    height: 100%;
}

.dropdown li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    height: 100%;
    align-items: center;
}

.dropdown li a:hover {
    background: rgba(24, 185, 196, 0.685);
    color: #fff;
   -webkit-box-shadow: 0 5px 10px 0 #ccc; 
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    text-shadow: 0px 0px 5px #fff; 
}

.dropdown li ul {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: rgb(184, 220, 227);
    display:none;
    list-style: none;
}

.dropdown li:hover ul,
.dropdown li.over ul {
    display: block;
}

.dropdown li ul li {
    /* border: 1px solid #c0c0c0;
    display: block; */
    width: 205px;
}

footer{
    margin-top: 55px;
    width: 100%;
   
}

.footer-header{
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    background-color: #009DAC;
}

.footer-menu{

    width: 950px;

    display: flex;
    align-items: center;
  
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

}

.footer-header > h2{
    font-size: 2em;
    font-weight: 100;
    margin-right: 20px;
    align-items: center;
}

.redes-sociais{
   height: 20px;

}

.redes-sociais > i{
    padding-left: 11px;
}



.informacao{
    width: 100%;
    background: #B8DCE3;
}

.footer-informacao{
    display: flex;
    width: 950px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    padding: 30px 0;
    
}

.servicos-ao-cliente{
    padding-right: 133px;
}

.fale-conosco{
    margin: 0px;
}
