*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #009dac;
    width: 100%;
   
}

.menu{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: 90px;
}



.menu > h1{
    color: #FFFFFF;
    font-weight: 100;
    /* margin-right: 30px; */
    /* font-size: 30px */
}

.menu > input{
    width:500px;
    height: 50px;
    border-radius: 30px;
    border-color: #FFFFFF;
    margin-left: 40px;
    margin-right: 40px;
    border: 0px;
    padding: 20px;

}

.menu > img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#perfil{
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* width: 40px;
    height: 40px; */
}
#perfil > img{
    width: 30px;
    height: 30px;
}

#perfil > p {
    color: #FFFFFF;
}

.dropdown-menu{
    background-color: #B8DCE3;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu > div{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px;
    
   
}

.dropdown-menu > div > button{
    height: 30px;
    background-color: #D1EBF0;
    padding: 5px;
    border: 0px;
}


.slider {
    overflow: hidden;

}

.slider>.slider-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider>.slider-content>.slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider>input:nth-child(1):checked~.slider-content {
    transform: translateX(0%);
}

.slider>input:nth-child(2):checked~.slider-content {
    transform: translateX(-100%);
}

.slider>input:nth-child(3):checked~.slider-content {
    transform: translateX(-200%);
}

.slider>input:nth-child(4):checked~.slider-content {
    transform: translateX(-300%);
}

nav {
    background-color: rgb(67, 220, 231);
}


.price {
    padding-top: 0px;
}

.card  {
    width: 200px;
    border: 1px solid rgb(212, 212, 212);
    margin-left: 20px;
    margin-right: 50px;
    display: inline-flex;
    height: 300px;
}


.swiper {
    width: 600px;
    height: 300px;
  }