*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #009dac;
    height: 90px;
   
}

header > div{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 97px;
}



header > div > h1{
    color: #FFFFFF;
    font-weight: 100;
    /* margin-right: 30px; */
    /* font-size: 30px */
}

header > div > input{
    width:500px;
    height: 50px;
    border-radius: 30px;
    border-color: #FFFFFF;
    margin-left: 30px;
    margin-right: 30px;

}

header > div > img{
    width: 30px;
    height: 30px;
}

#perfil{
    display: flex;
    align-items: center;
    /* width: 40px;
    height: 40px; */
}
#perfil > img{
    width: 30px;
    height: 30px;
}








.slider {
    overflow: hidden;

}

.slider>.slider-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider>.slider-content>.slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider>input:nth-child(1):checked~.slider-content {
    transform: translateX(0%);
}

.slider>input:nth-child(2):checked~.slider-content {
    transform: translateX(-100%);
}

.slider>input:nth-child(3):checked~.slider-content {
    transform: translateX(-200%);
}

.slider>input:nth-child(4):checked~.slider-content {
    transform: translateX(-300%);
}

nav {
    background-color: rgb(67, 220, 231);
}

div.product-layout {
    
box-sizing: border-box;
position: absolute;
width: 200px;
height: 300px;
left: 60px;
top: 778px;

background: #FFFFFF;
border: 2px solid rgba(160, 160, 160, 0.5);}

.price {
    padding-top: 60px;
}

