main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 90px 0;
    
}

.container {
    width: 900px;
    /* height: 80vh; */
    display: flex;
    box-shadow: 5px 5px 10px #009DAC;
}

.container img {
    width: 35%;
    margin: 20px;
}

h2{
    padding: 30px;
}

